* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    height: 100vh;
    background-color: #7c3af8;
}

.button {
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: #fff;
    color: #5c4800;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: letter-spacing 0.3s ease;
}

.button:hover {
    letter-spacing: 0.1rem;
}

#newsLetter {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: #fff;
    padding: 80px 50px 50px;
    border-radius: 4px;
    z-index: 1000;
    visibility: hidden;
    transition: top 0.5s ease, visibility 0.5s ease;
}

#newsLetter.active {
    top: 50%;
    visibility: visible;
}

#newsLetter h2,
#newsLetter p {
    text-align: center;
    color: #5c4800;
}

#newsLetter h2 {
    font-size: 24px;
    margin: 20px 0;
}

#newsLetter .box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input,
button {
    font-size: 1rem;
    font-family: serif;
    padding: 15px;
    border-radius: 4px;
    outline: none;
}

input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

button {
    width: 150px;
    border: none;
    background-color: #7c3af8;
    color: #fff;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

#copyright{
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}